Medicall Forms/Medicall Forms/Web References/server/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfDoctor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Doctor" nillable="true" type="tns:Doctor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDoctor" nillable="true" type="tns:ArrayOfDoctor" />
  <xs:complexType name="Doctor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Day" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Specialization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Doctor" nillable="true" type="tns:Doctor" />
  <xs:complexType name="ArrayOfLab">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lab" nillable="true" type="tns:Lab" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLab" nillable="true" type="tns:ArrayOfLab" />
  <xs:complexType name="Lab">
    <xs:sequence>
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lab" nillable="true" type="tns:Lab" />
</xs:schema>