Medicall Forms/Medicall Forms/Web References/server/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49913/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49913/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49913/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Dregister_InputMessage">
    <wsdl:part name="parameters" element="tns:Dregister" />
  </wsdl:message>
  <wsdl:message name="IService1_Dregister_OutputMessage">
    <wsdl:part name="parameters" element="tns:DregisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_appoint_InputMessage">
    <wsdl:part name="parameters" element="tns:appoint" />
  </wsdl:message>
  <wsdl:message name="IService1_appoint_OutputMessage">
    <wsdl:part name="parameters" element="tns:appointResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Drisvalid_InputMessage">
    <wsdl:part name="parameters" element="tns:Drisvalid" />
  </wsdl:message>
  <wsdl:message name="IService1_Drisvalid_OutputMessage">
    <wsdl:part name="parameters" element="tns:DrisvalidResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Pregister_InputMessage">
    <wsdl:part name="parameters" element="tns:Pregister" />
  </wsdl:message>
  <wsdl:message name="IService1_Pregister_OutputMessage">
    <wsdl:part name="parameters" element="tns:PregisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Pisvalid_InputMessage">
    <wsdl:part name="parameters" element="tns:Pisvalid" />
  </wsdl:message>
  <wsdl:message name="IService1_Pisvalid_OutputMessage">
    <wsdl:part name="parameters" element="tns:PisvalidResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Dreset_InputMessage">
    <wsdl:part name="parameters" element="tns:Dreset" />
  </wsdl:message>
  <wsdl:message name="IService1_Dreset_OutputMessage">
    <wsdl:part name="parameters" element="tns:DresetResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Preset_InputMessage">
    <wsdl:part name="parameters" element="tns:Preset" />
  </wsdl:message>
  <wsdl:message name="IService1_Preset_OutputMessage">
    <wsdl:part name="parameters" element="tns:PresetResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Updateinfo_InputMessage">
    <wsdl:part name="parameters" element="tns:Updateinfo" />
  </wsdl:message>
  <wsdl:message name="IService1_Updateinfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateinfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_bregister_InputMessage">
    <wsdl:part name="parameters" element="tns:bregister" />
  </wsdl:message>
  <wsdl:message name="IService1_bregister_OutputMessage">
    <wsdl:part name="parameters" element="tns:bregisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Aregister_InputMessage">
    <wsdl:part name="parameters" element="tns:Aregister" />
  </wsdl:message>
  <wsdl:message name="IService1_Aregister_OutputMessage">
    <wsdl:part name="parameters" element="tns:AregisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddDoctor_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDoctor" />
  </wsdl:message>
  <wsdl:message name="IService1_AddDoctor_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDoctorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Docverify_InputMessage">
    <wsdl:part name="parameters" element="tns:Docverify" />
  </wsdl:message>
  <wsdl:message name="IService1_Docverify_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocverifyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchDoc_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchDoc" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchDoc_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchDocResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchLab_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchLab" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchLab_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchLabResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Labverify_InputMessage">
    <wsdl:part name="parameters" element="tns:Labverify" />
  </wsdl:message>
  <wsdl:message name="IService1_Labverify_OutputMessage">
    <wsdl:part name="parameters" element="tns:LabverifyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddLab_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLab" />
  </wsdl:message>
  <wsdl:message name="IService1_AddLab_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLabResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowDoc_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowDoc" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowDoc_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowDocResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchDocAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchDocAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchDocAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchDocAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchLabAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchLabAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchLabAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchLabAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowLab_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowLab" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowLab_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowLabResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DelD_InputMessage">
    <wsdl:part name="parameters" element="tns:DelD" />
  </wsdl:message>
  <wsdl:message name="IService1_DelD_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DelLab_InputMessage">
    <wsdl:part name="parameters" element="tns:DelLab" />
  </wsdl:message>
  <wsdl:message name="IService1_DelLab_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelLabResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Showallblood_InputMessage">
    <wsdl:part name="parameters" element="tns:Showallblood" />
  </wsdl:message>
  <wsdl:message name="IService1_Showallblood_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowallbloodResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Dregister">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Dregister" message="tns:IService1_Dregister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DregisterResponse" message="tns:IService1_Dregister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="appoint">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/appoint" message="tns:IService1_appoint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/appointResponse" message="tns:IService1_appoint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Drisvalid">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Drisvalid" message="tns:IService1_Drisvalid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DrisvalidResponse" message="tns:IService1_Drisvalid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pregister">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Pregister" message="tns:IService1_Pregister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PregisterResponse" message="tns:IService1_Pregister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pisvalid">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Pisvalid" message="tns:IService1_Pisvalid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PisvalidResponse" message="tns:IService1_Pisvalid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Dreset">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Dreset" message="tns:IService1_Dreset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DresetResponse" message="tns:IService1_Dreset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Preset">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Preset" message="tns:IService1_Preset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PresetResponse" message="tns:IService1_Preset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Updateinfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Updateinfo" message="tns:IService1_Updateinfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateinfoResponse" message="tns:IService1_Updateinfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="bregister">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/bregister" message="tns:IService1_bregister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/bregisterResponse" message="tns:IService1_bregister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Aregister">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Aregister" message="tns:IService1_Aregister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AregisterResponse" message="tns:IService1_Aregister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDoctor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddDoctor" message="tns:IService1_AddDoctor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddDoctorResponse" message="tns:IService1_AddDoctor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Docverify">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Docverify" message="tns:IService1_Docverify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DocverifyResponse" message="tns:IService1_Docverify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchDoc">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchDoc" message="tns:IService1_SearchDoc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchDocResponse" message="tns:IService1_SearchDoc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchLab">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchLab" message="tns:IService1_SearchLab_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchLabResponse" message="tns:IService1_SearchLab_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Labverify">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Labverify" message="tns:IService1_Labverify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LabverifyResponse" message="tns:IService1_Labverify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLab">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddLab" message="tns:IService1_AddLab_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddLabResponse" message="tns:IService1_AddLab_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowDoc">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ShowDoc" message="tns:IService1_ShowDoc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ShowDocResponse" message="tns:IService1_ShowDoc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchDocAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchDocAdmin" message="tns:IService1_SearchDocAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchDocAdminResponse" message="tns:IService1_SearchDocAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchLabAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchLabAdmin" message="tns:IService1_SearchLabAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchLabAdminResponse" message="tns:IService1_SearchLabAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowLab">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ShowLab" message="tns:IService1_ShowLab_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ShowLabResponse" message="tns:IService1_ShowLab_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelD">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DelD" message="tns:IService1_DelD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DelDResponse" message="tns:IService1_DelD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelLab">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DelLab" message="tns:IService1_DelLab_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DelLabResponse" message="tns:IService1_DelLab_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Showallblood">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Showallblood" message="tns:IService1_Showallblood_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ShowallbloodResponse" message="tns:IService1_Showallblood_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dregister">
      <soap:operation soapAction="http://tempuri.org/IService1/Dregister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="appoint">
      <soap:operation soapAction="http://tempuri.org/IService1/appoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Drisvalid">
      <soap:operation soapAction="http://tempuri.org/IService1/Drisvalid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pregister">
      <soap:operation soapAction="http://tempuri.org/IService1/Pregister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pisvalid">
      <soap:operation soapAction="http://tempuri.org/IService1/Pisvalid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dreset">
      <soap:operation soapAction="http://tempuri.org/IService1/Dreset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Preset">
      <soap:operation soapAction="http://tempuri.org/IService1/Preset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Updateinfo">
      <soap:operation soapAction="http://tempuri.org/IService1/Updateinfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bregister">
      <soap:operation soapAction="http://tempuri.org/IService1/bregister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Aregister">
      <soap:operation soapAction="http://tempuri.org/IService1/Aregister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDoctor">
      <soap:operation soapAction="http://tempuri.org/IService1/AddDoctor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Docverify">
      <soap:operation soapAction="http://tempuri.org/IService1/Docverify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchDoc">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchLab">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchLab" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Labverify">
      <soap:operation soapAction="http://tempuri.org/IService1/Labverify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLab">
      <soap:operation soapAction="http://tempuri.org/IService1/AddLab" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowDoc">
      <soap:operation soapAction="http://tempuri.org/IService1/ShowDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchDocAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchDocAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchLabAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchLabAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowLab">
      <soap:operation soapAction="http://tempuri.org/IService1/ShowLab" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelD">
      <soap:operation soapAction="http://tempuri.org/IService1/DelD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelLab">
      <soap:operation soapAction="http://tempuri.org/IService1/DelLab" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Showallblood">
      <soap:operation soapAction="http://tempuri.org/IService1/Showallblood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:49913/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>